
:root{
    --fondo_oscuro:#0D1F23;
    --fondo_oscuro2:#132E35;
    --fondo_oscuro3:#2D4A53;
    --color_letras:#ffffff;
    --efecto_neon:inset 0 0 1em #10f3d9,
    0 0 1em #10f3d9;
}

body {
    background-color: var(--fondo_oscuro);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: auto;

}

section {
    border: var(--color_letras) solid 5px;
    margin: 50px auto;
    width: 80%;
    background-color: var(--fondo_oscuro2);
    border-radius: 50px;
    box-shadow: var(--efecto_neon);

}


.section__info__anime {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--color_letras);
    margin: 50px auto;
    padding: 30px;
}

.icons_info{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.div__info__anime{
    display: flex;
    justify-content: space-around;
}

.icons{
    height: 50%;
    width: 80%;
}


.info__principal__anime {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contenedor__info__anime {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_principal {
    font-size: 30px;
    font-family: 'Bangers', cursive;
}

.sypnosis p{
    font-size: 30px;
    border: var(--color_letras) solid 3px;
    border-radius: 15px;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--fondo_oscuro3);
}

.icons_info span {
    color: rgb(255, 255, 0);
}

.name__anime {
    text-align: center;
    color: var(--color_letras);
    width: 50%;
    font-size: 25px;
}

.text_more{
    opacity: 0;
    color: var(--color_letras);
    font-size: 30px;
    position: absolute;
    transition: opacity 0.3s;
}


.section__personajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titules_section {
    color: var(--color_letras);
    font-size: 60px;
    font-family: 'Bangers', cursive;
    text-align: center;
}

.contenedor__personajes__main,
.contenedor__personajes__ramdom {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    border: var(--color_letras) solid 3px;
    border-radius: 15px;
    padding: 30px 5%;
    margin: 50px;
    background: var(--fondo_oscuro3);
}


.contenedor_personajes:hover .text_more{
    opacity: 1;

}


.contenedor_personajes:hover{
    filter: brightness(30%); 
    transform: scale(1.1);
    
}




.img__info__anime{
    width: 300px;
    border-radius: 30px;
}

.section__personajes img {
    width: 200px;
    height: 300px;
    padding: 20px 20px 0px 20px;
    border-radius: 50px;

}

.contenedor__personajes__main div,
.contenedor__personajes__ramdom div {
    border-radius: 30px;
    box-shadow: 0 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--efecto_neon);
    transition: transform 0.3s;



}

.contenedor_personajes {
    background: var(--fondo_claro);
    border: var(--color_letras) solid 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}




swiper-container {
    width: 100%;
    padding: 50px 0px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 100%;
}

swiper-slide img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 850px) {
    

    .img__info__anime{
        width: 100%;
    }

    .info__principal__anime {
        flex-direction: column;
        align-items: center;
    }


    swiper-slide {
        width: 90%;
    }

    .section__personajes img {
        padding: 20px;
    }


    .contenedor__info__anime{
        display: block;
        margin-top: 20px;
    }

    .sypnosis {
        font-size: 20px;
    }

    .div__info__anime{
        display: flex;
        flex-direction: column;
        align-items: self-start;

        
    }

    .icons{
        height: 30px;
        width: 30px;
    }

}