body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: 1s ease all;
    background-color: #D6E8EE;
    &.dark{
      background: #000000ef;
      transition: 1s ease all;
    }




  }
/*tablas pa imagenes*/
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Todo el diseño del encabezado*/  
  header {
    background: linear-gradient(to right, #001B48, #02457A, #018ABE);
    color: #fff;
    padding: 20px;
    text-align: center;

  }


  
  header h1 {
    margin: 0;
  }
  
  section {
    padding: 20px;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  article h2 {
    font-size: 24px;
  }
  
  footer {
    background: linear-gradient(to right, #001B48, #02457A, #018ABE);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  header ul {
    list-style-type: none;
    transform: translateY(-40px);
    margin-top: 5%;
    

  }
  
  header ul li {
    display: inline;
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  header ul li a:hover {
    background-color: #555;
  }
/*Diseño del boton para cambiar entre modo nocturno */
  .botonSwitch{

    margin: 0;
    padding: 0;
    display: inline;
    text-decoration: none;
    padding: 10px;


  }

  .SwitchLB{
    top: -7px;
    display: inline-block;
    width: 75px;
    height: 35px;
    background: #555;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
  }
  .SwitchLB::after{
    position: absolute;
    content: '';
    width: 27px;
    height: 27px;
    background: #fff;
    top: 4px;
    left: 5px;
    transition: 0.3s;
    border-radius: 100px;
  }

  #SwitchIP:checked~ .SwitchLB{
    background: #e76005;
  }

  #SwitchIP:checked~ .SwitchLB::after{
    left: 45px;
  }

  #SwitchIP{
    display: none;
  }

 i{
  position: relative;
  padding-right: 20px;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
 }

 /*PORFIIIIIIIIIIIN cambio de diseño de pantalla a oscuro */

 body.dark header{
    background-color: #f1eeee;
    color: #080707;
    transition: 1s ease all;

  
}

  body.dark ul{
    color: #f8f6f6;
    transition: 1s ease all;

    
}

  body.dark h2{
    color: #ffffff;
    transition: 1s ease all;

  
}


  body.dark p{
    color: #ffffff;
    transition: 1s ease all;


}