body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: 1s ease all;
    background-color: #D6E8EE;
    &.dark{
      background: #000000ef;
      transition: 1s ease all;
    }




  }
/*tablas pa imagenes*/
table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

img {
  height: auto;
  display: block;
  margin: 0 auto;
}

/*Todo el diseño del encabezado*/  
header {
  background: linear-gradient(to right, #001B48, #02457A, #018ABE);
  color: #fff;
  padding: 20px;
  position: relative;
}


header nav {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


.barra {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.barra li {
  margin: 0 15px;
  bottom: 50px;
}


.logo {
  font-size: 24px;
  color: #018ABE;
  font-weight: 800;
  text-transform: uppercase;
}

.barra .current {
  font-weight: bold;
}
  
/*diseño aparte del encabezado*/  
  section {
    padding: 20px;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  article h2 {
    font-size: 24px;
  }
  
  footer {
    background: linear-gradient(to right, #001B48, #02457A, #018ABE);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  

/*Diseño del boton para cambiar entre modo nocturno */
  .botonSwitch{
    padding: 0;
    display: inline;
    text-decoration: none;
    
  }

  .SwitchLB{
    display: inline-block;
    width: 75px;
    height: 35px;
    background: #555;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
  }
  .SwitchLB::after{
    position: absolute;
    content: '';
    width: 27px;
    height: 27px;
    background: #fff;
    top: 4px;
    left: 5px;
    transition: 0.3s;
    border-radius: 100px;
  }

  #SwitchIP:checked~ .SwitchLB{
    background: #e76005;
  }

  #SwitchIP:checked~ .SwitchLB::after{
    left: 45px;
  }

  #SwitchIP{
    display: none;
  }

 i{
  position: relative;
  padding-right: 20px;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
 }

 /*PORFIIIIIIIIIIIN cambio de diseño de pantalla a oscuro */

 body.dark header{
    background-color: #f1eeee;
    color: #080707;
    transition: 1s ease all;

  
}

  body.dark ul{
    color: #f8f6f6;
    transition: 1s ease all;

    
}

  body.dark h2{
    color: #ffffff;
    transition: 1s ease all;

  
}


  body.dark p{
    color: #ffffff;
    transition: 1s ease all;
}



.section_anime {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.section_anime img {
  width: 450px;
  height: 600px;
  object-fit: cover;
  border: 2px solid #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.section_anime img:hover {
  transform: scale(1.2);
  filter: brightness(50%); 
}

/* Contenedor individual para cada anime */
.contenedor_extra {
  
  position: relative;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

/* Imagen del anime */
.anime-img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s;

}



/* Título del anime */
.title__anime {
  position: absolute;
  bottom: 550px;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(238, 196, 7);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}


.contenedor_extra:hover .title__anime {
  opacity: 1;

}


.synopsis__anime {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}


.contenedor_extra:hover .synopsis__anime {
  opacity: 1;
}


.section_anime img::before {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); 
  transition: background-color 0.3s;
  pointer-events: none;
  z-index: 999;
}

.section_anime img:hover::before {
  background-color: rgba(0, 0, 0, 0.7); 
}

