:root {
    --background: #151718;
    --fondo_oscuro: #0D1F23;
    --fondo_oscuro2: #132E35;
    --color_letras: #ffffff;
    --efecto_neon: inset 0 0 1em #10f3d9,
        0 0 1em #10f3d9;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: 1s ease all;
  background-color: #ffffff;
  background-image: url("/IMG/Fondo_Claro.png");
  &.dark{
    background: #000000ef;
    transition: 0.5s ease all;
    background-image: url("/IMG/Fondo_Oscuro.jpg");
  }
}

/*Todo el diseño del encabezado*/  


.principal {
  background-color: white;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "open sans", sans-serif;
  z-index: 1000; 
}


header nav {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


.barra {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.barra a {
  margin: 0 10px;
  bottom: 50px;
  color: #000000;
}


.logo {
  font-size: 24px;
  color: #018ABE;
  font-weight: 800;
  text-transform: uppercase;
}

.barra .current {
  font-weight: bold;
}
  
/*diseño aparte del encabezado*/  
  section {
    padding: 20px;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  article h2 {
    font-size: 24px;
  }
  
  footer {
    background: linear-gradient(to right, #001B48, #02457A, #018ABE);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  

/*Diseño del boton para cambiar entre modo nocturno */
  .botonSwitch{
    padding: 0;
    display: inline;
    text-decoration: none;
    
  }

  .SwitchLB{
    display: inline-block;
    width: 75px;
    height: 35px;
    background: #555;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
  }
  .SwitchLB::after{
    position: absolute;
    content: '';
    width: 27px;
    height: 27px;
    background: #fff;
    top: 4px;
    left: 5px;
    transition: 0.3s;
    border-radius: 100px;
  }

  #SwitchIP:checked~ .SwitchLB{
    background: #e76005;
  }

  #SwitchIP:checked~ .SwitchLB::after{
    left: 45px;
  }

  #SwitchIP{
    display: none;
  }

 i{
  position: relative;
  padding-right: 20px;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
 }

 /*PORFIIIIIIIIIIIN cambio de diseño de pantalla a oscuro */

 body.dark header{
    background-color: rgb(48, 47, 47);
    color: #9b1212;
    transition: 1s ease all;

  
}

  body.dark ul{
    color: #f8f6f6;
    transition: 1s ease all;

    
}

  body.dark h2{
    color: #ffffff;
    transition: 1s ease all;

  
}


  body.dark p{
    color: #ffffff;
    transition: 1s ease all;
}

body.dark a{
  color: #ffffff;
  transition: 1s ease all;
}

.section_character {
    border: var(--color_letras) solid 5px;
    margin: 100px auto;
    width: 80%;
    background-color: var(--fondo_oscuro);
    border-radius: 50px;
    box-shadow: var(--efecto_neon);
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    color: var(--color_letras);
}

.contenedor__info_character {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: var(--color_letras) solid 5px;
    margin: 50px auto;
    background-color: var(--fondo_oscuro2);
    border-radius: 50px;
    box-shadow: var(--efecto_neon);
    padding: 30px;
}

.contenedor__info{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.img_personaje {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.info_character {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.info_character span {
    color: rgb(255, 255, 0);
}

article {
    width: 90%;
    text-align: center;
    margin: 30px 0;
}

article p {
    color: var(--color_letras);
}

.icons_info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

box-icon {
    border: var(--color_letras) solid 2px;
    border-radius: 50%;
    box-shadow: var(--efecto_neon);
}

.info_principal {
    font-weight: 800;
    font-size: 20px;
}

.icons {
    color: var(--color_letras);
    height: 40px;
    width: 40px;
    padding: 5px;
}

.section_autores {
    width: 70%;
    margin: 50px 0;
    border: var(--color_letras) solid 5px;
    margin: 50px auto;
    background-color: var(--fondo_oscuro2);
    border-radius: 50px;
    box-shadow: var(--efecto_neon);
    padding: 20px;
}

.titles {
    font-size: 30px;
    text-align: center;
    font-family: 'Bangers', cursive;
    font-weight: 800;
}

.contenedor_info_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


swiper-container {
    width: 100%;
    padding: 50px 0px;
}

.contenedor_info_autor img {
    width: 300px;
    height: 400px;
    object-fit: fill;
}

/*  Loader */
.hidden{
    visibility: hidden;
  }
  
  .invisible{
    display: none;
  }
  
  .loader_div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .spinner {
    position: absolute;
    width: 9px;
    height: 9px;
  }
  
  .spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
  }
  
  .spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
  }
  
  .spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
  }
  
  .spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
  }
  
  .spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
  }
  
  .spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
  }
  
  .spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
  }
  
  .spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
  }
  
  .spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
  }
  
  .spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
  }
  
  .spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
  }
  
  @keyframes spinner-fzua35 {
    0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }
  
    50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
  }

@media screen and (max-width: 780px) {

    .img_character {
        width: 100%;
        height: 100%;
    }

    .contenedor__info {
        display: block;
        text-align: center;
    }

    .contenedor_info_autor img {
        width: 200px;
        height: 300px;
    }

    .icons {
        height: 40px;
        width: 40px;
        margin-left: 20px;
    }

    .info_character {
        width: 100%;
    }
}